
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:16px bold;
    background-color: rgb(247, 206, 247);
    background-image:url()
}

.wrapper{
    background-color:radial-gradient(circle, #deec15);
    background-size: cover;
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid rgb(26, 4, 26);
    box-shadow: 2px 2px 20px rgb(65, 19, 19);
}

 header {
    background-image:url(images/bkg_header.jpg);
    padding: 20px;
    text-align:center;
 }   


 header h1 {
    font-size: 200%;
    color:rgb(139, 8, 52);
    text-shadow: 2px 2px 10px black;    
 }

 nav{
    background-color: #9691d1;
    text-transform: uppercase;
    border:2px radial rgb(65, 19, 19)
 }

 nav ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
 }
nav li {
    list-style-type: none;
    padding: 1rem;  
}

nav a {
    color:rgb(206, 133, 133)19, 143, 143);
    text-decoration: none;
    padding: 1rem 2rem;
}
    
 nav a:hover { 
    background-color: black;
    border-radius: 2rem;

 }
main {
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: .5rem;
}

.left-column {
    font-size: 135%;
    line-height: 1.4;
    padding: 0 1rem;
}
.left-column h2 {
    font-size: 150%;
    color:#b04688;
    border: 1px solid;color: rgb(65,19,19)
    border-bottom: 1px solid; color:#b04688

}

