
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgb(145, 26, 145);
background-image:url()
}

.wrapper{
    background-color:rgb(231, 231, 85)
    max-width: 960px;
    margin 0 auto;
    border: 2px solid thistle;
    box-shadow: 2px 2px 20px black;
}

 header {
    background-image:url(images/bkg_header.jpg);
    padding: 20px;
    text-align:center;
 }   


 header h1 {
    font-size: 200%;
    color:lavenderblush;
    text-shadow: 2px 2px 10px black;    
 }

 nav{
    background-color: yellow;
    text-transform: uppercase;
 }

 nav ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
 }
nav li {
    list-style-type: none;
    padding: 1rem;  
}

nav a {
    color:white;
    text-decoration: none;
    padding: 1rem 2rem;
}
    ]
 