*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: thistle;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: radial-gradient(circle, #ff9a9e, #fad0c4 20%, #fbc2eb 80%, #a18cd1 100%);
    background-size: cover;
    backdrop-filter: blur(3px);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 75%;
    border-style: solid;rgba #d8bfd8b0;
    max-width: 1200px;
}

.appointment-form {
    display: inline-block;
    background-color:darkorchid;
    padding:20px;
    border-radius:10px;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.service-card:hover {
    transform: none;
    border-radius 2rem;
    border:: 12px; solidcolor
    padding: 1.8rem;
}

.footer {
    padding: 1.2em;
    background-color: darkorchid;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}